html {
  font-size: 62.5%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  padding: 2rem;
  background-color: #ccc;
  font-size: 1.4rem;
}
$primary-color: #fc556f;
$secondary-color: #fd9c84;
$gradient: linear-gradient(to right, $primary-color, $secondary-color);
@mixin flexbox(
  $align: flex-start,
  $justify: flex-start,
  $direction: row,
  $wrap: nowrap
) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
  flex-wrap: $wrap;
}
@mixin size($width, $height) {
  width: $width;
  height: $height;
}

.post {
  padding: 2rem;
  border-radius: 1rem;
  background-color: white;
  @include flexbox(stretch);
  &__left,
  &__right {
    width: calc(50% - 1rem);
  }
  &__media {
    position: relative;
    height: 40rem;
    margin-bottom: 3.5rem;
  }
  &__image,
  &-author__img {
    @include size(100%, 100%);
    border-radius: 1rem;
    object-fit: cover;
  }
  &-author {
    @include flexbox(center);
    font-size: 1.4rem;
    color: #999;
    &__img {
      @include size(4rem, 4rem);
      border-radius: 100%;
      margin-right: 2rem;
      animation: rotate 5s infinite linear;
    }
    &__name {
      position: relative;
      color: #333;
      margin-right: 2.5rem;
      padding-right: 2.5rem;
      &:before {
        content: "";
        @include size(0.5rem, 0.5rem);
        border-radius: 100%;
        background-color: $primary-color;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &__date {
      color: #999;
      &--small {
        font-size: 1.2rem;
      }
    }
  }
  &__category {
    display: inline-block;
    color: white;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 2rem;
    position: absolute;
    top: 2rem;
    left: 1rem;
    background-image: $gradient;
    z-index: 2;
  }
  &__icon {
    @include size(5rem, 5rem);
    color: white;
    border-radius: 100%;
    background-image: $gradient;
    @include flexbox(center, center);
    position: absolute;
    right: 1rem;
    bottom: 0;
    transform: translateY(50%);
  }
  &__title {
    line-height: 1.5;
    word-spacing: 0.4rem;
    letter-spacing: 1px;
    font-size: 1.6rem;
    font-weight: bold;
    &--small {
      font-size: 1.2rem;
      margin: 1rem 0;
    }
  }
  &__item {
    @include flexbox();
    @include size(100%, 10rem);
    margin-left: 1.5rem;
    &:not(:last-child) {
      border-bottom: 2px solid #ddd;
      padding: 0 1rem 1rem 0;
    }
  }
  &__content {
    padding: 0 1rem;
  }
  &__image {
    &--small {
      @include size(15rem, 10rem);
    }
  }
}
.post__item + .post__item {
  margin-top: 2rem;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 769px) {
  .post {
    flex-direction: column;
    &__left,
    &__right {
      width: calc(100%);
    }
    &__item {
      margin-left: 0;
    }
    &__image--small {
      @include size(30%, 100%);
    }
  }
}
